select {
    display: block !important;
}

.margem{
    margin: auto;
}

.add-val{
    margin-top: 10px;
    margin-right: auto;
    width: 100%;
}

.container{
    padding-left: 20px !important;
    padding-right: 20px !important;

}