<html>
    <head>
      <title>Produtos</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://unpkg.com/vue"></script>
      <link rel="stylesheet" type="text/css" href="../css/produtos.css">
    </head>

<body>
    <h1 class="title">Escolha uma categoria para ver o cardápio</h1>
    <div id="app" class="container">          
      <a href="/lanches"><card data-image="../img/pizza.jpg">
        <h1 slot="header">Pizzas</h1>
        <p slot="content">as melhores pizzas com os melhores valores, peça a sua já!</p>
        </card>
      </a>
      <card data-image="../img/lanche.jpg">
        <h1 slot="header">Lanches</h1>
        <p slot="content">Os Lanches mais saboros da cidade, aproveite!</p>
      </card>
      <a href="/drink"><card data-image="../img/drinks.jpg">
        <h1 slot="header">Bebidas</h1>
        <p slot="content">Temos os melhores Drinks para você</p>
      </card>
      </a>
      <card data-image="../img/combo.jpg">
        <h1 slot="header">Combo</h1>
        <p slot="content">Monte seu combo!</p>
      </card>
    </div>
  
<script type="text/javascript" src="../js/produtos.js"></script>
</body>
</html>